RewriteEngine on
IndexIgnore *
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC, L]

RewriteRule ^résumé/(.+) public/documents/Dane Hobrecht - Résumé.pdf/$1 [L, QSA]
