/* Fonts */
@font-face {
	font-family: "LiberationSans-Regular";
	src: url("public/fonts/liberation_sans/LiberationSans-Regular.ttf");
}

@font-face {
	font-family: "LiberationSans-Bold";
	src: url("public/fonts/liberation_sans/LiberationSans-Bold.ttf");
}

@font-face {
	font-family: "LiberationSerif-Regular";
	src: url("public/fonts/liberation_serif/LiberationSerif-Regular.ttf");
}

@font-face {
	font-family: "LiberationSerif-Bold";
	src: url("public/fonts/liberation_serif/LiberationSerif-Bold.ttf");
}

/* Elements */
html {
	overflow-y: auto;
	text-align: center;
	font-family: "LiberationSerif-Regular";
}

header {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 140px;
	position: fixed;
	background-color: #ffffff;
}

body {
	z-index: 0;
	width: 100%;
	height: 100%;
	padding: 140px 0px 0px 0px;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 140px;
	position: fixed;
	font-family: "LiberationSans-Bold";
	background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

a {
	color: #000000;
	text-decoration: none;
}

svg {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

span {
	color: #000000;
}

/* Classes */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

.button {
	border: none;
	color: #ffffff;
	font-size: 16px;
	margin: 4px 2px;
	transition: 0.3s;
	border-radius: 4px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-family: "LiberationSans-Bold";
}

.enabled {
	background-color: #000000;
}

.disabled {
	cursor: not-allowed;
	background-color: #c0c0c0;
}

.enabled:hover {
	color: #ffffff;
	background-color: #525252;
}

.title {
	font-size: 36pt;
	padding: 24px 0px 12px 0px;
	font-family: "LiberationSerif-Bold";
}

.tabs a {
	color: #525252;
	font-size: 16pt;
	transition: color 0.2s;
	padding: 0px 4px 0px 4px;
	-webkit-transition: color 0.2s;
}

.tabs a:hover {
	color: #000000;
}

.media img {
	max-width: 450px;
	margin: 0px 3px 6px 3px;
}

.section {
	overflow: hidden;
	text-align: left;
	padding: 0px 12px 0px 12px;
	max-width: 1000px;
	background-color: #f1f1f1;
	margin: 0px auto 20px auto;
}

.section img {
	float: left;
	width: 100%;
	max-width: 450px;
	padding: 12px 12px 12px 0px;
}

.description {
	padding: 12px;
	font-size: 14pt;
}

.description h1 {
	display: inline;
	font-style: italic;
	vertical-align: middle;
}

.reel {
	padding: 4px;
}

.social img {
	padding: 8px;
	max-width: 48px;
	padding-top: 24px;
}

.links a {
	padding: 4px;
	color: #525252;
	font-size: 12pt;
}

/* Mobile */
@media screen and (max-width: 320px) {
	header {
		height: 110px;
	}

	body {
		padding-top: 110px;
	}

	.title {
		font-size: 22pt;
	}

	.tabs a {
		font-size: 12pt;
		padding: 0px 2px 0px 2px;
	}

	.reel {
		height: 0;
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
	}

	.reel iframe {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.media img {
		max-width: 240px;
	}

	.sections h1 {
		font-size: 16pt;
	}

	.sections p {
		font-size: 12pt;
	}

	.sections a {
		font-size: 12pt;
	}

	.social img {
		max-width: 40px;
	}

	.links a {
		font-size: 10pt;
	}
}

@media screen and (min-width: 321px) and (max-width: 768px) {
	header {
		height: 120px;
	}

	body {
		padding-top: 120px;
	}

	.title {
		font-size: 28pt;
	}

	.tabs a {
		font-size: 16pt;
	}

	.sections img {
		margin: auto;
		display: block;
		max-width: 540px;
	}

	.description {
		font-size: 12pt;
	}

	.reel {
		height: 0;
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
	}

	.reel iframe {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.media img {
		max-width: 320px;
	}
}
