/* Globals */

html {
	color: #ffffffff;
	text-align: center;
	font-family: Georgia;
	scroll-behavior: smooth;
	background-color: #000000ff;
}

header {
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	height: 112px;
	position: absolute;
	flex-direction: column;
	padding: 24px 0px 24px 0px;
	justify-content: space-around;
}

footer {
	height: 84px;
	display: flex;
	flex-wrap: wrap;
	color: #c0c0c0ff;
	font-family: Arial;
	flex-direction: column;
	justify-content: center;
	margin: 24px 0px 24px 0px;
	padding: 36px 0px 36px 0px;
}

a { text-decoration: none; }

img { image-rendering: -webkit-optimize-contrast; }

img, iframe { animation: render 1.6s ease-in-out infinite; }

/* Classes and IDs */

* {
	border: 0;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.h-spacer-16px {
	width: 16px;
	height: 100%;
	user-select: none;
	border-radius: 16px;
	display: inline-block;
}

.reveal { animation: reveal 3s; }

#cover {
	width: auto;
	margin: auto;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("assets/images/covers/dane-hobrecht-cover-001.webp");
}

#name a {
	color: #ffffffff;
	font-weight: 700;
	font-size: 3.06em;
	font-family: Georgia;
}

#navigation { margin: auto; }

#navigation a {
	float: left;
	color: #c0c0c0ff;
	font-size: 1.36em;
	transition: 0.32s;
	margin: 0px 6px 0px 6px;
}

#navigation span { color: #ffffffff; }

#navigation a:hover { color: #ffffffff; }

#content {
	width: 92vw;
	margin: auto;
	max-width: 1280px;
}

#resume {
	outline: none;
	margin-top: 16px;
	position: relative;
	overflow-y: hidden;
	white-space: nowrap;
	border-radius: 16px;
	scroll-margin-top: 16px;
	-ms-scroll-margin-top: 16px;
	-moz-scroll-margin-top: 16px;
	scroll-snap-type: x mandatory;
	-webkit-scroll-margin-top: 16px;
	-webkit-overflow-scrolling: touch;
}

.module {
	font-size: 1.2em;
	text-align: left;
	transition: 0.24s;
	user-select: none;
	position: relative;
	max-width: 21.66em;
	display: inline-block;
	vertical-align: middle;
	scroll-margin-top: 16px;
	scroll-snap-align: center;
	-ms-scroll-margin-top: 16px;
	-moz-scroll-margin-top: 16px;
	-webkit-scroll-margin-top: 16px;
}

.module img {
	float: left;
	width: 100%;
	height: auto;
	transition: 0.24s;
	border-radius: 16px;
}

/* Hide */
.module input { display: none; }
.module input:not(:checked) + label > img { opacity: 1; }
.module input:not(:checked) + label > .information { opacity: 0; }
.module input:not(:checked) + label > .information a { pointer-events: none; }

/* Show */
.module input:checked + label > .info { opacity: 0; pointer-events: none; }
.module input:checked + label > img { opacity: 0.16; }
.module input:checked + label > .information { opacity: 1; }
.module input:checked + label > .information a { pointer-events: auto; }

.info {
	z-index: 1;
	width: 32px;
	height: 32px;
	margin: 16px;
	transition: 0.12s;
	position: absolute;
	mix-blend-mode: difference;
}

.info img { animation: none; }

.info img:hover  {
	opacity: 0.48;
	cursor: pointer;
}

#pdf {
	bottom: 0;
	margin: 8px;
	display: flex;
	padding: 12px;
	transition: 0.32s;
	position: absolute;
	align-items: center;
	border-radius: 16px;
	justify-content: center;
	background-color: #00000096;
}

#pdf:hover { background-color: #00000072; }

#pdf img {
	width: 32px;
	height: 32px;
	animation: none;
	user-select: none;
	margin-right: 4px;
}

#pdf p {
	color: #ffffffff;
	font-size: 1.2em;
	font-weight: 700;
	font-family: Arial;
}

.information {
	opacity: 0;
	height: 100%;
	padding: 16px;
	overflow: hidden;
	transition: 0.32s;
	position: absolute;
	mask-image: linear-gradient(180deg, #000000ff 84%, #00000000 100%);
}

.information h1 {
	font-size: 1.64em;
	font-style: italic;
	font-family: Arial;
	padding-right: 2px;
	white-space: pre-wrap;
}

.information h2 {
	font-size: 1.12em;
	font-weight: normal;
}

.information h3 {
	padding: 8px;
	display: block;
	font-size: 1em;
	margin-top: 8px;
	position: relative;
	font-family: Arial;
	font-weight: normal;
	border: 1px dashed #ffffffff;
}

.information a {
	font-weight: 700;
	transition: 0.32s;
	position: relative;
	pointer-events: none;
	display: inline-block;
	margin: 16px 0px 16px 0px;
	border: 12px solid #000000ff;

}

.information a::before {
	content: '';
	inset: -9.6px;
	position: absolute;
	border-style: dotted;
	border-width: 8px;
	border-color: #ffd700ff;
	border-image-repeat: round;
	border-image-slice: 33% 33%;
	animation: flicker 4.8s infinite;
	border-image-source: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><image xlink:href='assets/images/extras/bright-bulbs.svg'/></svg>");
}

.information a img {
	width: 6.4em;
	padding: 8px;
	animation: none;
	border-radius: 0;
	background-color: #ffffffff;
}

.information p {
	overflow-y: auto;
	font-size: 0.92em;
	white-space: normal;
}

.enabled:hover { opacity: 0.64; }

.disabled {
	opacity: 0.24;
	cursor: not-allowed;
	pointer-events: none;
}

.disabled::before {
	border-color: #696969ff !important;
	border-image-source: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><image xlink:href='assets/images/extras/dim-bulbs.svg'/></svg>") !important;
}

#press {
	margin: auto;
	position: relative;
	padding: 36px 0px 36px 0px;
}

#press a {
	font-size: 0;
	transition: 0.32s;
	display: inline-block;
}

#press a:hover { opacity: 0.72; }

#press object {
	width: 96px;
	height: 100%;
	animation: none;
	margin-bottom: 8px;
	pointer-events: none;
}

#press p {
	color: #ffffffff;
	overflow: hidden;
	font-size: 1.2em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#reel {
	font-size: 0;
	padding-top: 8px;
	margin: 0px -8px -8px -8px;
}

#reel iframe {
	width: 92vw;
	margin: 8px;
	max-width: 580px;
	max-height: 326px;
	border-radius: 16px;
	height: calc(92vw / 1.885);
}

#biography {
	overflow: auto;
	padding-top: 16px;
	margin: 32px 0px -16px 0px;
}

#biography img {
	float: left;
	width: 92vw;
	height: 100%;
	max-width: 480px;
	user-select: none;
	border-radius: 16px;
	margin: 0px 12px 16px 0px;
}

#biography p {
	font-size: 1.2em;
	text-align: left;
}

#contact {
	width: 92vw;
	max-width: 480px;
	padding-top: 16px;
	font-family: Arial;
	margin: 32px auto 0px auto;
}

#contact #botcheck { display: none; }

#contact legend {
	margin: auto;
	font-size: 1.6em;
	font-weight: 700;
	margin-bottom: 8px;
	font-family: Georgia;
}

#contact label {
	font-size: 1em;
	display: block;
	text-align: left;
	margin-bottom: 4px;
}

#contact .required { color: #ff0000ff; }

#contact input, textarea, button {
	width: 100%;
	padding: 12px;
	font-size: 1em;
	color: #ffffffff;
	transition: 0.16s;
	font-family: Arial;
	border-radius: 8px;
	margin-bottom: 8px;
	box-sizing: border-box;
	background-color: #161616ff;
}

#contact input:focus, textarea:focus { 
	outline: none;
	background-color: #242424ff;
}

#contact textarea {
	resize: vertical;
	min-height: 96px;
	max-height: 184px;
}

#contact button {
	display: flex;
	color: #000000ff;
	font-weight: 700;
	font-size: 1.08em;
	transition: 0.32s;
	align-items: center;
	margin: 12px 0px 12px 0px;
	background-color: #ffffffff;
}

#contact button span {
	margin: auto;
	display: flex;
}

#contact button img {
	width: 17.2px;
	height: 17.2px;
	animation: none;
	margin: auto 0px auto 6px;
}

#contact button:hover {
	opacity: 0.72;
	cursor: pointer;
}

#contact p, a { font-size: 0.96em }

#contact p { color: #808080ff; }

#contact a { color: #ffffffff; }

#socials {
	user-select: none;
	margin: 0px auto 16px auto;
}

#socials a {
	font-size: 0;
	transition: 0.32s;
	display: inline-block;
}

#socials object {
	width: 56px;
	margin: 8px;
	height: 100%;
	animation: none;
	pointer-events: none;
	vertical-align: middle;
}

#socials a:hover { opacity: 0.72; }

#resources {
	margin: auto;
	user-select: none;
}

#resources a {
	color: #c0c0c0ff;
	font-weight: 600;
	font-size: 0.84em;
	transition: 0.32s;
	user-select: text;
	margin: 0px 4px 0px 4px;
}

#resources a:hover { color: #ffffffff; }

#redirect {
	top: 50%;
	left: 50%;
	width: 90%;
	opacity: 0;
	color: #ffffffff;
	position: absolute;
	animation: redirect 8.4s;
	transform: translate(-50%, -50%);
}

#redirect p {
	margin-top: 8px;
	font-size: 1.4em;
}

#redirect a {
	color: #ffffffff;
	font-size: 3.2em;
}

/* Animations */

@keyframes render {
	00.00% { background-color: #131313ff; }
	50.00% { background-color: #131313a3; }
	100.0% { background-color: #131313ff; }
}

@keyframes reveal {
	00.00% {
		opacity: 0.01;
		filter: blur(3px);
	}
	100.0% {
		opacity: 1.00;
		filter: blur(0px);
	}
}

@keyframes flicker {
	0%, 90%, 100% {
		border-color: #ffd700ff;
		border-image-source: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><image xlink:href='assets/images/extras/bright-bulbs.svg'/></svg>");
	}
	95%, 99% {
		border-color: #ffd700ff;
		border-image-source: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><image xlink:href='assets/images/extras/bright-bulbs.svg'/></svg>");
	}
	96%, 98% {
		border-color: #696969ff;
		border-image-source: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><image xlink:href='assets/images/extras/dim-bulbs.svg'/></svg>");
	}
	97% {
		border-color: #ffd700ff;
		border-image-source: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><image xlink:href='assets/images/extras/bright-bulbs.svg'/></svg>");
	}
}

@keyframes redirect {
	00.00% {
		opacity: 0;
		filter: blur(3px);
	}
	25.00% {
		opacity: 1;
		filter: blur(0px);
	}
	50.00% {
		opacity: 1;
		filter: blur(0px);
	}
	75.00% {
		opacity: 1;
		filter: blur(0px);
	}
	100.0% {
		opacity: 0;
		filter: blur(3px);
	}
}

/* Resolutions */

@media screen and (min-width: 321px) and (max-width: 767px) {
	header { height: 96px; }

	#name a { font-size: 2.24em; }

	#navigation a { font-size: 1.24em; }

	.module img { max-width: 500px; }
}

@media screen and (max-width: 320px) {
	header { height: 80px; }

	#name a { font-size: 1.86em; }

	#navigation a { font-size: 0.96em; }
}