/* Global */
@font-face {
	font-display: swap;
	font-family: "LiberationSans-Regular";
	src: url("public/fonts/liberation_sans/LiberationSans-Regular.ttf");
}

@font-face {
	font-display: swap;
	font-family: "LiberationSans-Bold";
	src: url("public/fonts/liberation_sans/LiberationSans-Bold.ttf");
}

@font-face {
	font-display: swap;
	font-family: "LiberationSerif-Regular";
	src: url("public/fonts/liberation_serif/LiberationSerif-Regular.ttf");
}

@font-face {
	font-display: swap;
	font-family: "LiberationSerif-Bold";
	src: url("public/fonts/liberation_serif/LiberationSerif-Bold.ttf");
}

html {
	color: #ffffff;
	cursor: default;
	overflow-x: hidden;
	text-align: center;
	background-color: #000000;
	font-family: "LiberationSerif-Regular";
}

header {
	height: 112px;
	display: flex;
	flex-direction: column;
	padding: 16px 0px 16px 0px;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.8);
}

a { text-decoration: none; }

img { image-rendering: -webkit-optimize-contrast; }

/* Classes */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

.index {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	-moz-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-image: url("public/images/actions/DaneHobrechtAction(001).jpeg");
}

.title a {
	color: #ffffff;
	font-size: 3.3em;
	font-family: "LiberationSerif-Bold";
}

.pages a {
	color: #c0c0c0;
	font-size: 1.4em;
	transition: color 0.2s;
	padding: 0px 4px 0px 4px;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

.pages span { color: #ffffff; }
.pages a:hover { color: #ffffff; }

.performances {
	left: 0;
	right: 0;
	top: 100vh;
	width: 90vw;
	position: absolute;
	background-color: #000000;
	margin: -16px auto 0px auto;
}

.section {
	padding: 16px;
	overflow-y: auto;
	text-align: left;
	max-width: 1280px;
	background-size: cover;
	-o-background-size: cover;
	margin: 16px auto 0px auto;
	background-position: center;
	-moz-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
}

.section h1 {
	display: inline;
	font-style: italic;
	vertical-align: middle;
}

.section img {
	float: left;
	width: 100%;
	max-width: 368px;
	margin: 0px 12px 8px 0px;
}

.section svg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.into-the-woods { background-image: url("public/images/backgrounds/Background(004).jpeg"); }
.much-ado-about-nothing { background-image: url("public/images/backgrounds/Background(003).jpeg"); }
.oliver { background-image: url("public/images/backgrounds/Background(002).jpeg"); }
.fame { background-image: url("public/images/backgrounds/Background(001).jpeg"); }

.description {
	display: inline;
	font-size: 1.2em;
	overflow-y: scroll;
}

.button {
	color: #000000;
	font-size: 1em;
	transition: 0.3s;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #ffffff;
	font-family: "LiberationSans-Bold";
}

.enabled { background-color: #ffffff; }
.enabled:hover { background-color: #c0c0c0; }

.disabled {
	opacity: 0.4;
	pointer-events: none;
}

.reels {
	margin: auto;
	font-size: 0em;
	max-width: 1540px;
}

.reels iframe {
	width: 90vw;
	max-width: 560px;
	max-height: 315px;
	vertical-align: bottom;
	padding: 0px 8px 16px 8px;
	height: calc(90vw / 1.885);
}

.gallery {
	font-size: 0em;
	max-width: 1540px;
	margin: 0px auto -16px auto;
}

.gallery img {
	width: 90vw;
	max-width: 368px;
	padding: 0px 8px 16px 8px;
	transition: transform 0.5s ease;
	-webkit-transform: transform 0.5s ease;
}

.gallery img:hover {
	transform: scale(1.025);
	-webkit-transform: scale(1.025);
}

.externals {
	height: 84px;
	display: flex;
	flex-direction: column;
	background-color: #000000;
	padding: 32px 0px 32px 0px;
	justify-content: space-around;
}

.icons img {
	max-width: 40px;
	padding: 0px 8px 0px 8px;
	transition: opacity 0.2s;
	-webkit-transform: opacity 0.2s;
}

.icons a { font-size: 0em; }
.icons img:hover { opacity: 0.8; }

.links a {
	color: #c0c0c0;
	transition: color 0.2s;
	padding: 0px 4px 0px 4px;
	-webkit-transform: color 0.2s;
	font-family: "LiberationSans-Bold";
}

.links a:hover { color: #ffffff; }

.error {
	top: 50%;
	left: 50%;
	width: 90%;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.error h1 {
	font-size: 3em;
	padding-bottom: 4px;
}

.error h2 { padding-bottom: 16px; }

@media screen and (max-width: 320px) {
	header { height: 80px; }

	.title a { font-size: 1.8em; }

	.pages a {
		font-size: 1.2em;
		padding: 0px 2px 0px 2px;
	}

	.description {
		display: inherit;
		max-height: 160px;
	}

	.gallery img { padding: 0px 0px 16px 0px; }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
	header { height: 96px; }

	.title a { font-size: 2.25em; }

	.pages a { font-size: 1.3em; }

	.section img { max-width: 500px; }

	.gallery img { padding: 0px 0px 16px 0px; }

	.description {
		display: inherit;
		max-height: 184px;
	}
}

@media screen and (min-width: 768px) { .section img { margin-bottom: 0px; } }
