/* Globals */

html {
	color: #ffffffff;
	text-align: center;
	scroll-behavior: smooth;
	font-family: Georgia, serif;
	background-color: #000000ff;
}

header {
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 112px;
	display: flex;
	position: absolute;
	flex-direction: column;
	padding: 24px 0px 24px 0px;
	justify-content: space-around;
}

footer {
	height: 84px;
	display: flex;
	flex-wrap: wrap;
	color: #c0c0c0ff;
	flex-direction: column;
	justify-content: center;
	margin: 24px 0px 24px 0px;
	padding: 36px 0px 36px 0px;
	font-family: Arial, sans-serif;
}

a { text-decoration: none; }

img { image-rendering: -webkit-optimize-contrast; }

img, iframe { animation: render 1.6s ease-in-out infinite; }

/* Classes and IDs */

* {
	border: 0;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.h-spacer-16px {
	width: 16px;
	height: 100%;
	user-select: none;
	border-radius: 16px;
	display: inline-block;
}

.reveal { animation: reveal 3s; }

#cover {
	width: auto;
	margin: auto;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("assets/images/covers/dane-hobrecht-cover-001.webp");
}

#name {
	& a {
		color: #ffffffff;
		font-weight: 700;
		font-size: 3.06em;
		font-family: Georgia, serif;
	}
}

#navigation {
	margin: auto;
	& a {
		float: left;
		color: #c0c0c0ff;
		font-size: 1.36em;
		transition: 0.32s;
		margin: 0px 6px 0px 6px;
		&:hover { color: #ffffffff; }
	}
	& span { color: #ffffffff; }
}

#content {
	width: 92vw;
	margin: auto;
	max-width: 1280px;
}

#resume {
	outline: none;
	margin-top: 16px;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	border-radius: 16px;
	scroll-margin-top: 16px;
	-ms-scroll-margin-top: 16px;
	-moz-scroll-margin-top: 16px;
	scroll-snap-type: x mandatory;
	-webkit-scroll-margin-top: 16px;
	-webkit-overflow-scrolling: touch;
}

.module {
	font-size: 1.2em;
	text-align: left;
	transition: 0.24s;
	user-select: none;
	position: relative;
	max-width: 21.66em;
	display: inline-block;
	vertical-align: middle;
	scroll-margin-top: 16px;
	scroll-snap-align: center;
	-ms-scroll-margin-top: 16px;
	-moz-scroll-margin-top: 16px;
	-webkit-scroll-margin-top: 16px;
	& img {
		float: left;
		width: 100%;
		height: auto;
		transition: 0.24s;
		border-radius: 16px;
	}
	& input {
		/* Hide */
		display: none;
		&:not(:checked) + label > img { opacity: 1; }
		&:not(:checked) + label > .information { opacity: 0; }
		&:not(:checked) + label > .information a { pointer-events: none; }
		/* Show */
		&:checked + label > .info {
			opacity: 0;
			pointer-events: none;
		}
		&:checked + label > img { opacity: 0.16; }
		&:checked + label > .information { opacity: 1; }
		&:checked + label > .information a { pointer-events: auto; }
	}
}

.info {
	z-index: 1;
	width: 32px;
	height: 32px;
	margin: 16px;
	transition: 0.12s;
	position: absolute;
	mix-blend-mode: difference;
	& img {
		animation: none;
		&:hover  {
			opacity: 0.48;
			cursor: pointer;
		}
	}
	& p {
		color: #ffffffff;
		font-weight: 700;
		align-items: center;
		justify-content: center;
		font-family: Arial, sans-serif;
	}
}

#pdf {
	bottom: 0;
	margin: 8px;
	padding: 8px;
	display: flex;
	transition: 0.32s;
	position: absolute;
	align-items: center;
	border-radius: 16px;
	justify-content: center;
	background-color: #000000a3;
	border: 1.6px solid #ffffffff;
	&:hover { background-color: #00000072; }
	& img {
		width: 32px;
		height: 32px;
		animation: none;
		user-select: none;
		margin-right: 4px;
	}
	& p {
		color: #ffffffff;
		font-size: 1.2em;
		font-weight: 700;
		font-family: Arial, sans-serif;
	}
}

.information {
	opacity: 0;
	height: 100%;
	padding: 16px;
	overflow: hidden;
	transition: 0.32s;
	position: absolute;
	mask-image: linear-gradient(180deg, #000000ff 84%, #00000000 100%);
	& h1 {
		font-size: 1.64em;
		font-style: italic;
		padding-right: 2px;
		white-space: pre-wrap;
		font-family: Arial, sans-serif;
	}
	& h2 {
		font-size: 1.12em;
		font-weight: normal;
	}
	& h3 {
		padding: 8px;
		display: block;
		font-size: 1em;
		margin-top: 8px;
		position: relative;
		font-weight: normal;
		border: 1px dashed #ffffffff;
		font-family: Arial, sans-serif;
	}
	& a {
		font-weight: 700;
		transition: 0.32s;
		position: relative;
		pointer-events: none;
		display: inline-block;
		margin: 16px 0px 16px 0px;
		& img {
			width: 9.2em;
			border-radius: 4px;
			animation: flicker 4.8s infinite;
		}
	}
	& p {
		overflow-y: auto;
		font-size: 0.92em;
		white-space: normal;
	}
	& .enabled { &:hover { filter: brightness(1.48); } }
	& .disabled {
		opacity: 0.24;
		cursor: not-allowed;
		pointer-events: none;
		& img { animation: none; }
	}
}

#press {
	margin: auto;
	position: relative;
	padding: 36px 0px 36px 0px;
	& table { margin: auto; }
	& a {
		font-size: 0;
		transition: 0.32s;
		display: inline-block;
		&:hover { opacity: 0.72; }
	}
	& object {
		width: 96px;
		height: auto;
		animation: none;
		margin-bottom: 8px;
		pointer-events: none;
	}
	& .adapt { width: 132px; }
	& p {
		color: #ffffffff;
		overflow: hidden;
		font-size: 1.2em;
	}
}

#reel {
	font-size: 0;
	padding-top: 8px;
	margin: 0px -8px -8px -8px;
	& iframe {
		width: 92vw;
		margin: 8px;
		max-width: 580px;
		max-height: 326px;
		border-radius: 16px;
		height: calc(92vw / 1.885);
	}
}

#biography {
	overflow: auto;
	padding-top: 16px;
	margin: 32px 0px -16px 0px;
	& img {
		float: left;
		width: 100%;
		height: auto;
		max-width: 360px;
		user-select: none;
		border-radius: 16px;
		margin: 0px 12px 16px 0px;
	}
	& p {
		font-size: 1.2em;
		text-align: left;
	}
}

#contact {
	width: 92vw;
	max-width: 480px;
	padding-top: 16px;
	margin: 32px auto 0px auto;
	font-family: Arial, sans-serif;
	& #botcheck { display: none; }
	& legend {
		margin: auto;
		font-size: 1.6em;
		font-weight: 700;
		margin-bottom: 8px;
		font-family: Georgia, serif;
	}
	& label {
		font-size: 1em;
		display: block;
		text-align: left;
		margin-bottom: 4px;
	}
	& .required { color: #ff0000ff; }
	& input, textarea, button {
		width: 100%;
		padding: 12px;
		font-size: 1em;
		color: #ffffffff;
		transition: 0.16s;
		border-radius: 8px;
		margin-bottom: 8px;
		box-sizing: border-box;
		background-color: #161616ff;
		font-family: Arial, sans-serif;
	}
	& input:focus, textarea:focus {
		outline: none;
		background-color: #242424ff;
	}
	& textarea {
		resize: vertical;
		min-height: 96px;
		max-height: 184px;
	}
	& button {
		display: flex;
		color: #000000ff;
		font-weight: 700;
		font-size: 1.08em;
		transition: 0.32s;
		align-items: center;
		margin: 12px 0px 12px 0px;
		background-color: #ffffffff;
		&:hover {
			opacity: 0.72;
			cursor: pointer;
		}
		& span {
			margin: auto;
			display: flex;
		}
		& img {
			width: 17.2px;
			height: 17.2px;
			animation: none;
			margin: auto 0px auto 6px;
		}
	}
	& p, a { font-size: 0.96em }
	& p { color: #808080ff; }
	& a { color: #ffffffff; }
}

#socials {
	user-select: none;
	margin: 0px auto 16px auto;
	& a {
		font-size: 0;
		transition: 0.32s;
		display: inline-block;
		&:hover { opacity: 0.72; }
	}
	& object {
		width: 56px;
		margin: 8px;
		height: 100%;
		animation: none;
		pointer-events: none;
		vertical-align: middle;
	}
}

#resources {
	margin: auto;
	user-select: none;
	& a {
		color: #c0c0c0ff;
		font-weight: 600;
		font-size: 0.84em;
		transition: 0.32s;
		user-select: text;
		margin: 0px 4px 0px 4px;
		&:hover { color: #ffffffff; }
	}
}

#redirect {
	top: 50%;
	left: 50%;
	width: 90%;
	opacity: 0;
	color: #ffffffff;
	position: absolute;
	animation: redirect 8.4s;
	transform: translate(-50%, -50%);
	& p {
		margin-top: 8px;
		font-size: 1.12em;
	}
	& a {
		color: #ffffffff;
		font-size: 2.56em;
		font-family: Arial, sans-serif;
	}
}

/* Animations */

@keyframes render {
	0% { background-color: #131313ff; }
	50% { background-color: #131313a3; }
	100% { background-color: #131313ff; }
}

@keyframes reveal {
	0% {
		opacity: 0.01;
		filter: blur(3px);
	}
	100% {
		opacity: 1.00;
		filter: blur(0px);
	}
}

@keyframes flicker {
	0% { content: url("assets/images/extras/tickets-sign-dim.webp"); }
	1%, 90%, 100% { content: url("assets/images/extras/tickets-sign-bright.webp"); }
	95%, 99% { content: url("assets/images/extras/tickets-sign-bright.webp"); }
	96%, 98% { content: url("assets/images/extras/tickets-sign-dim.webp"); }
	97% { content: url("assets/images/extras/tickets-sign-bright.webp"); }
}

@keyframes redirect {
	0% {
		opacity: 0;
		filter: blur(3px);
	}
	25% {
		opacity: 1;
		filter: blur(0px);
	}
	50% {
		opacity: 1;
		filter: blur(0px);
	}
	75% {
		opacity: 1;
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		filter: blur(3px);
	}
}

/* Resolutions */

@media screen and (min-width: 321px) and (max-width: 767px) {
	header { height: 96px; }

	#name { & a { font-size: 2.24em; } }

	#navigation { & a { font-size: 1.24em; } }

	.module { & img { max-width: 500px; } }
}

@media screen and (max-width: 320px) {
	header { height: 80px; }

	#name { & a { font-size: 1.86em; } }

	#navigation { & a { font-size: 0.96em; } }
}