/* Global */
@font-face {
	font-family: "LiberationSans-Regular";
	src: url("public/fonts/liberation_sans/LiberationSans-Regular.ttf");
}

@font-face {
	font-family: "LiberationSans-Bold";
	src: url("public/fonts/liberation_sans/LiberationSans-Bold.ttf");
}

@font-face {
	font-family: "LiberationSerif-Regular";
	src: url("public/fonts/liberation_serif/LiberationSerif-Regular.ttf");
}

@font-face {
	font-family: "LiberationSerif-Bold";
	src: url("public/fonts/liberation_serif/LiberationSerif-Bold.ttf");
}

html {
	overflow-x: hidden;
	text-align: center;
	font-family: "LiberationSerif-Regular";
}

header {
	height: 112px;
	display: flex;
	flex-direction: column;
	margin: 16px 0px 16px 0px;
	justify-content: space-around;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

/* Classes */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 40pt;
	font-family: "LiberationSerif-Bold";
}

.tabs a {
	padding: 4px;
	color: #525252;
	font-size: 16pt;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

.tabs a:hover {
	color: #000000;
}

.tabs span {
	color: #000000;
}

.media {
	margin: 0px 16px 0px 16px;
}

.media img {
	width: 100%;
	max-width: 460px;
	margin: 0px 12px 12px 0px;
	transition: transform 0.5s ease;
	-webkit-transform: transform 0.5s ease;
}

.media img:hover {
	transform: scale(1.025);
	-webkit-transform: scale(1.025);
}

.section {
	overflow-y: auto;
	text-align: left;
	max-width: 1000px;
	background-color: #f1f1f1;
	margin: 0px 16px 16px 16px;
	padding: 12px 12px 12px 12px;
}

.section h1 {
	display: inline;
	font-style: italic;
	vertical-align: middle;
}

.section img {
	float: left;
	width: 100%;
	max-width: 500px;
	margin: 0px 12px 8px 0px;
}

.section svg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.description {
	display: inline;
	font-size: 14pt;
	overflow-y: scroll;
}

.button {
	color: #ffffff;
	font-size: 16px;
	transition: 0.3s;
	border-radius: 4px;
	padding: 10px 20px;
	font-family: "LiberationSans-Bold";
}

.enabled {
	background-color: #000000;
}

.enabled:hover {
	color: #ffffff;
	background-color: #525252;
}

.disabled {
	pointer-events: none;
	background-color: #c0c0c0;
}

.reel p {
	margin: auto;
	padding: 12px;
	font-size: 14pt;
	max-width: 768px;
}

.reel iframe {
	width: 92vw;
	max-width: 768px;
	max-height: 433px;
	vertical-align: bottom;
	height: calc(92vw / 1.88);
}

.links img {
	max-width: 48px;
	padding: 12px 4px 4px 4px;
}

.links a {
	color: #525252;
	padding: 4px 4px 12px 4px;
	font-family: "LiberationSans-Bold";
}

/* Resolutions */
@media screen and (max-width: 330px) {
	header {
		height: 64px;
	}

	.title {
		font-size: 22pt;
	}

	.tabs a {
		font-size: 11pt;
	}

	.description {
		display: inherit;
		max-height: 160px;
	}

	.reel p {
		font-size: 10pt;
	}

	.links img {
		max-width: 40px;
	}

	.links a {
		font-size: 10pt;
	}
}

@media screen and (min-width: 331px) and (max-width: 767px) {
	.title {
		font-size: 28pt;
	}

	.tabs a {
		font-size: 16pt;
	}

	.description {
		display: inherit;
		max-height: 184px;
	}

	.links img {
		padding-top: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.media img {
		max-width: 368px;
	}
}

@media screen and (min-width: 1280px) {
	.section {
		margin: 0px auto 16px auto;
	}

	.section img {
		margin-bottom: 0px;
	}
}
