/* Globals */

@font-face {
	font-display: swap;
	font-family: "LiberationSans-Regular";
	src: url("assets/fonts/liberation_sans/LiberationSans-Regular.ttf");
}

@font-face {
	font-display: swap;
	font-family: "LiberationSans-Bold";
	src: url("assets/fonts/liberation_sans/LiberationSans-Bold.ttf");
}

@font-face {
	font-display: swap;
	font-family: "LiberationSerif-Regular";
	src: url("assets/fonts/liberation_serif/LiberationSerif-Regular.ttf");
}

@font-face {
	font-display: swap;
	font-family: "LiberationSerif-Bold";
	src: url("assets/fonts/liberation_serif/LiberationSerif-Bold.ttf");
}

html {
	color: #ffffffff;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	background-color: #000000ff;
	font-family: "LiberationSerif-Regular";
}

header {
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	height: 112px;
	position: absolute;
	flex-direction: /* fixed */ column;
	padding: 24px 0px 24px 0px;
	justify-content: space-around;
}

footer {
	height: 84px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	padding: 36px 0px 36px 0px;
}

a { text-decoration: none; }

img { image-rendering: -webkit-optimize-contrast; }

img, iframe { animation: pulse 1.6s ease-in-out infinite; }

/* Classes & IDs */

* {
	border: 0;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.h-spacer-8px {
	width: 8px;
	height: 100%;
	display: inline-block;
}

.reveal { animation: reveal 3s; }

#cover {
	width: 100vw;
	height: 100vh;
	margin: auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("assets/media/DaneHobrechtCover(001).jpeg");
}

#name a {
	color: #ffffffff;
	font-size: 3.3em;
	font-family: "LiberationSerif-Bold";
}

#navigation { margin: auto; }

#navigation a {
	float: left;
	color: #c0c0c0ff;
	font-size: 1.6em;
	margin: 0px 6px 0px 6px;
	transition: color 0.32s;
}

#navigation span { color: #ffffffff; }

#navigation a:hover { color: #ffffffff; }

.content {
	width: 92vw;
	margin: auto;
	max-width: 1280px;
}

#press {
	margin: auto;
	position: relative;
	padding: 36px 0px 36px 0px;
}

#press img {
	width: 96px;
	height: auto;
	animation: none;
	transition: 0.32s;
	margin-bottom: 8px;
}

#press img:hover, #press img:focus, #press img:active {
	opacity: 0.72;
	cursor: pointer;
}

#press p {
	color: #ffffffff;
	overflow: hidden;
	font-size: 1.2em;
	white-space: nowrap;
	text-overflow: "...ˮ";
}

#resume {
	overflow-x: auto;
	position: relative;
	white-space: nowrap;
	border-radius: 16px;
	scroll-margin-top: 16px;
	margin: 16px auto 0px auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}

.module {
	overflow: hidden;
	font-size: 1.2em;
	max-width: 416px;
	text-align: left;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	scroll-margin-top: 16px;
	scroll-snap-align: center;
}

.module img {
	float: left;
	width: 100%;
	height: auto;
	border-radius: 16px;
	transition: all 0.32s ease-out;
}

.module input { display: none; }

.module input:checked + label > .info { opacity: 0; }
.module input:checked + label > img { opacity: 0.24; }
.module input:checked + label > .information { opacity: 1; }
.module input:checked + label > .information button { pointer-events: auto; }

.module input:not(:checked) + label > .info { opacity: 1; }
.module input:not(:checked) + label > img { opacity: 1; }
.module input:not(:checked) + label > .information { opacity: 0; }
.module input:not(:checked) + label > .information button { pointer-events: none; }

.info {
	top: 0;
	left: 0;
	z-index: 1;
	margin: 12px;
	position: absolute;
	pointer-events: none;
	width: 32px !important;
	height: 32px !important;
	mix-blend-mode: difference;
	transition: 0.16s !important;
}

.information {
	opacity: 0;
	height: 100%;
	margin: 12px;
	transition: 0.32s;
	position: absolute;
	-webkit-mask-image: linear-gradient(180deg, #000000ff 84%, #00000000 100%);
}

.information button {
	padding: 16px;
	display: block;
	font-size: 1em;
	color: #000000ff;
	transition: 0.32s;
	border-radius: 4px;
	pointer-events: none;
	background-color: #ffffffff;
	margin: 12px 0px 12px 0px;
	font-family: "LiberationSans-Bold";
}

.information button:disabled { opacity: 0.24; }

.information button:enabled:hover {
	opacity: 0.72;
	cursor: pointer;
}

.title {
	font-size: 1.8em;
	font-style: italic;
	padding-right: 2px;
	white-space: pre-wrap;
}

.role { font-size: 1.12em; }

.promotion {
	padding: 8px;
	margin-top: 8px;
	position: relative;
	display: inline-block;
	border: 1px dashed #ffffffff;
	font-family: "LiberationSans-Regular";
}

.description {
	color: #e2e2e2ff;
	white-space: normal;
}

#reel {
	font-size: 0;
	margin: 0px auto -16px auto;
}

#reel iframe {
	width: 92vw;
	max-width: 632px;
	max-height: 356px;
	border-radius: 16px;
	margin-bottom: 16px;
	height: calc(92vw / 1.885);
}

#reel iframe:not(:last-child) { margin-right: 16px; }

#socials { margin: 0px auto 16px auto; }

#socials a { font-size: 0; }

#socials img {
	width: 48px;
	height: auto;
	animation: none;
	vertical-align: middle;
	margin: 0px 8px 0px 8px;
	transition: opacity 0.2s;
}

#socials img:hover { opacity: 0.72; }

#resources { margin: auto; }

#resources a {
	color: #c0c0c0ff;
	font-size: 0.8em;
	transition: color 0.2s;
	margin: 0px 4px 0px 4px;
	font-family: "LiberationSans-Bold";
}

#resources a:hover { color: #ffffffff; }

#redirect {
	top: 50%;
	left: 50%;
	width: 90%;
	opacity: 0;
	color: #ffffffff;
	position: absolute;
	animation: redirect 8.4s;
	transform: translate(-50%, -50%);
}

#redirect p {
	margin-top: 8px;
	font-size: 1.4em;
}

#redirect a {
	color: #ffffffff;
	font-size: 3.2em;
}

/* Animations */

@keyframes pulse {
	00.00% { background-color: #131313ff; }
	50.00% { background-color: #131313a3; }
	100.0% { background-color: #131313ff; }
}

@keyframes reveal {
	00.00% {
		opacity: 0;
		filter: blur(3px);
	}
	100.0% {
		opacity: 1;
		filter: blur(0px);
	}
}

@keyframes redirect {
	00.00% {
		opacity: 0;
		filter: blur(3px);
	}
	25.00% {
		opacity: 1;
		filter: blur(0px);
	}
	50.00% {
		opacity: 1;
		filter: blur(0px);
	}
	75.00% {
		opacity: 1;
		filter: blur(0px);
	}
	100.0% {
		opacity: 0;
		filter: blur(3px);
	}
}

/* Resolutions */

@media screen and (min-width: 321px) and (max-width: 767px) {
	header { height: 96px; }

	#name a { font-size: 2.48em; }

	#navigation a { font-size: 1.48em; }

	.module img { max-width: 500px; }
}

@media screen and (max-width: 320px) {
	header { height: 80px; }

	#name a { font-size: 2.1em; }

	#navigation a { font-size: 1.2em; }
}
