@font-face {
	font-family: "LiberationSans-Bold";
	src: url("liberation_sans/LiberationSans-Bold.ttf");
}

a {
	text-decoration: none;
	font-family: "LiberationSans-Bold";
}

img {
	max-width: 450px;
	height: auto;
	/* High-res image previews in Chromium-based browsers. */
	image-rendering: -webkit-optimize-contrast;
}

h1 {
	font-family: "LiberationSans-Regular";
	font-size: 32pt;
}

html {
	text-align: center;
	font-family: "LiberationSans-Regular";
}

social {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
