a {
	text-decoration: none;
}

html {
	background-color: #00ade9;
}

@font-face {
	font-family: 'pixeboy';
	src: url("pixeboy-font/pixeboy.ttf");
}

.monitor {
	display: block;
	margin: auto;
}

.text {
	font-size: 14px;
	font-family: 'pixeboy';
	text-align: center;
}
