@font-face {
    font-family: "LiberationSans-Bold";
    src: url("liberation_sans/LiberationSans-Bold.ttf");
}

a {
    text-decoration: none;
}

html {
	background-color: #ffffff;
	font-family: "LiberationSans-Bold";
}
